@layout('components.main')

@section('title')
<meta name="keyspeaks" content="" />
<meta name="description" content="" />
<title>{{ dataset.title }}</title>
@endsection

@section('content')
@endsection
